<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.it611.das.mapper.AssetMapper" >

    <!--插入一条基本资产信息-->
    <insert id="insertAssetBase" parameterType="org.it611.das.domain.BaseAsset" >
        insert into asset_base (id, type_id, title, des, submitTime, `state`, txid)
        values (#{id,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
        #{des,jdbcType=VARCHAR}, #{submitTime,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},#{txId,jdbcType=VARCHAR})
    </insert>

    <!--插入一条学生证信息资产-->
    <insert id="insertStudentIdCardAsset" parameterType="org.it611.das.domain.StudentIdCardAsset" >
        insert into asset_stuIdCard (id, stu_id, asset_id, school, `name`, sex, dataOfBirth, idCardNo, lengthOfSchooling, college, address, schoolTime,
        timeOfIssume)
        values (#{id,jdbcType=VARCHAR}, #{stuId,jdbcType=INTEGER}, #{assetId,jdbcType=VARCHAR},
        #{school,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{dataOfBirth,jdbcType=VARCHAR},
        #{idCardNo,jdbcType=VARCHAR},#{lengthOfSchooling,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{schoolTime,jdbcType=VARCHAR}, #{timeOfIssume,jdbcType=VARCHAR})
    </insert>

    <!--插入资产拥有者信息(用户)-->
    <insert id="insertAssetUser" parameterType="java.util.List">
        insert into asset_user (id, asset_id, user_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.assetId,jdbcType=VARCHAR},#{item.userId,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--插入资产数字文件-->
    <insert id="insertAssetFiles" parameterType="java.util.List">
        insert into asset_file (id, asset_id, file_url, file_hash)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.assetId,jdbcType=VARCHAR},#{item.fileUrl,jdbcType=VARCHAR},#{item.fileHash,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--查询学生证资产通过Id-->
    <select id="selectStudentIdCardAssetDetailById" parameterType="java.lang.String" resultType="java.util.HashMap">
        select distinct ab.*, au.user_id, af.file_url, af.file_hash,
        asic.stu_id, asic.school, asic.name, asic.sex, asic.dataOfBirth, asic.idcardNo, asic.lengthOfSchooling, asic.college, asic.address, asic.school,asic.timeOfIssume from asset_base ab
        left join asset_stuIdCard asic on ab.id = asic.asset_id
        left join asset_file af on ab.id = af.asset_id
        left join asset_user au on au.id = af.asset_id
        where ab.id = #{id,jdbcType=VARCHAR}
    </select>

    <!--获取资产总数-->
    <select id="selectTotal" resultType="java.lang.Long">
        select count(*) from asset_base WHERE  title like concat('%',#{title},'%')  and id like concat('%',#{id},'%')  and txid like concat('%',#{txid},'%')
    </select>


    <!--获取资产列表-->
    <select id="selectAsset" resultType="hashmap">
        select  * from asset_base WHERE  title like concat('%',#{title},'%')  and id like concat('%',#{id},'%')  and txid like concat('%',#{txid},'%')
    </select>

    <!--获取学生证资产详情-->
    <select id="studentDetail" parameterType="string" resultType="hashmap">
        SELECT a.*,f.file_url,f.file_hash FROM asset_base a left join asset_file f on a.id =f.asset_id where a.id=#{id}
    </select>
</mapper>