<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.it611.das.mapper.CompanyMapper" >

    <!--查询公司列表 -->
    <select id="selectCompanies" resultType="java.util.HashMap">
      select * from user
    </select>

    <!--添加一个公司信息 -->
    <insert id="insertCompany" parameterType="org.it611.das.domain.Company" >
        insert into company (id, `name`, `type`, address, legal_representative, registered_capital, start_time, end_time,
        scopeof_business, registration_authority, audit_time, submit_time, state)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR}, #{legalRepresentative,jdbcType=VARCHAR}, #{registeredCapital,jdbcType=VARCHAR},
        #{startTime,jdbcType=VARCHAR},#{endTime,jdbcType=VARCHAR},#{scopeOfBusiness,jdbcType=VARCHAR},
        #{registrationAuthority,jdbcType=VARCHAR},#{auditTime,jdbcType=VARCHAR},#{submitTime,jdbcType=VARCHAR},
        #{state,jdbcType=INTEGER})
    </insert>

    <!--根据公司名称和id进行模糊查询,（开发中先把所有字段取出来，以防字段修改） -->
    <select id="selectCompaniesByNameAndId" resultType="java.util.HashMap">
        select
        id, username, password, company_name as companyName, company_address as companyAddress, company_email as companyEmail,
        landine_phone as landlinePhone, contact, phone, credit_id as creditId, company_type as companyType, representative,
        establishment_time as establishmentTime, start_time as startTime, end_time as endTime, business_scope as businessScope,
        registration_authority as registrationAuthority, registration_time as registrationTime, files, state, submit_time as submitTime
        from tb_company
        where credit_id like concat('%',#{creditId},'%') and company_name like concat('%',#{companyName},'%') and company_address like concat('%',#{companyAddress},'%') and representative like concat('%',#{representative},'%')
    </select>

    <!--查询公司总数-->
    <select id="selectTotal" resultType="java.lang.Long">
        select
        count(*)
        from tb_company
        where credit_id like concat('%',#{creditId},'%') and company_name like concat('%',#{companyName},'%') and company_address like concat('%',#{companyAddress},'%') and representative like concat('%',#{representative},'%')
    </select>

    <!--根据id查询记录详情（包含文件）-->
    <select id="selectComanyDetailById"  parameterType="string" resultType="java.util.HashMap">
        select id, username, password, company_name as companyName, company_address as companyAddress, company_email as companyEmail,
        landine_phone as landlinePhone, contact, phone, credit_id as creditId, company_type as companyType, representative,
        establishment_time as establishmentTime, start_time as startTime, end_time as endTime, business_scope as businessScope,
        registration_authority as registrationAuthority, registration_time as registrationTime, files, state, submit_time as submitTime
        from tb_company
        where id=#{id}
    </select>

</mapper>