<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.it611.das.mapper.SysUserMapper" >
    <resultMap id="BaseResultMap" type="org.it611.das.domain.SysUser" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
    </resultMap>

    <!--多对多 用户对应角色-->
    <resultMap id="UserRolesMap" type="org.it611.das.domain.SysUser" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <collection property="roles" ofType="org.it611.das.domain.SysRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <!--用于身份验证的SQL-->
    <select id="findByUsername" resultMap="UserRolesMap" parameterType="java.lang.String" >
        select
        u.id, u.username, u.password, r.id, r.name
        from sys_user u, sys_user_roles ur, sys_role r
        where u.id = ur.user_id and r.id = ur.role_id and u.username = #{username,jdbcType=VARCHAR}
    </select>

</mapper>