<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.it611.das.mapper.UserMapper" >

    <!--查询用户列表 -->
    <select id="selectUsers" resultType="java.util.HashMap">
      select * from user
    </select>

    <!--添加一名用户 -->
    <insert id="insertUser" parameterType="org.it611.das.domain.User" >
        insert into user (id, `name`, sex, nation, `date`, address, submitTime, `state`, files)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
        #{nation,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{submitTime,jdbcType=VARCHAR},#{state,jdbcType=INTEGER},#{files,jdbcType=VARCHAR})
    </insert>

    <!--根据用户姓名和身份证Id进行模糊查询 -->
    <select id="selectUsersByNameAndId" resultType="java.util.HashMap">
       select * from user where id like concat('%',#{id},'%') and name like concat('%',#{name},'%')
    </select>

    <!--查询用户总数-->
    <select id="selectTotal" resultType="java.lang.Long">
        select
        count(*)
        from user   where id like concat('%',#{id},'%') and name like concat('%',#{name},'%')
    </select>

    <!--删除一个用户-->
    <delete id="deleteUserById" parameterType="java.lang.String">
        delete from user where id = #{id,jdbcType=VARCHAR}
    </delete>

    <!--根据id查询记录-->
    <select id="getRecordDetail" resultType="hashmap" >
        SELECT u.*,o.file_url files
        from user u LEFT join owner_file o on u.id=o.owner_id
        <where>
            u.id=#{id}
        </where>

    </select>




</mapper>