<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>可信数字资产存证系统</title>

    <link rel="icon" type="image/x-icon" href="/ico/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href=" @{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- DataTables CSS -->
    <link th:href="@{/jcstatic/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/jcstatic/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="/nav::navigation"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">概况分析</h3>
            </div>
        </div>

        <div class="row">
            <!--图1-->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        资产类目总数概况
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div>
                            <div class="col-lg-12" style="margin-bottom: 10px;padding-left:0px;">
                                <form class="form-inline" role="form">
                                    <input type="text" id="startTime" class="form-control" placeholder="起始日期">
                                    <input type="text" id="endTime" class="form-control" placeholder="结束日期">
                                    <a id="firstSubmit" class="btn bg-primary">确定</a>
                                </form>
                            </div>
                            <div class="col-lg-12" id="containerFirst"
                                 style="height: 400px;width: 100%;border: solid 1px #ddd;border-radius: 5px;"></div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

            <!--图2-->
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        资产类目状态概况
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div>
                            <div class="col-lg-12" style="margin-bottom: 10px;padding-left:0px;">
                                <form class="form-inline" role="form">
                                    <select id="assetType" class="form-control">
                                        <optgroup label="文本">
                                            <option value="学位证书">学位证书</option>
                                        </optgroup>
                                        <option value="音频">音频</option>
                                        <option value="视频">视频</option>
                                        <option value="图片">图片</option>
                                    </select>
                                    <a id="secondSubmit" class="btn bg-primary">确定</a>
                                </form>
                            </div>
                            <div class="col-lg-12" id="containerSecond"
                                 style="height: 400px;width: 100%;border: solid 1px #ddd;border-radius: 5px;"></div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>

        </div>
    </div>

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- DataTables JavaScript -->
<script th:src="@{/jcstatic/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/jcstatic/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/jcstatic/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入分页插件-->
<script th:src="@{/jcstatic/paginator/bootstrap-paginator.js}"></script>

<!--引入layui插件-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>


<!--以下是饼状图-->
<script type="text/javascript" th:src="@{http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js}"></script>
<script type="text/javascript"
        th:src="@{http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js}"></script>
<script type="text/javascript" th:src="@{http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js}"></script>
<script type="text/javascript"
        th:src="@{http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js}"></script>
<script type="text/javascript" th:src="@{http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js}"></script>
<script type="text/javascript" th:src="@{http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js}"></script>
<script type="text/javascript" th:src="@{http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM}"></script>
<script type="text/javascript"
        th:src="@{http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js}"></script>
<script type="text/javascript" th:src="@{http://echarts.baidu.com/gallery/vendors/simplex.js}"></script>

<script type="text/javascript">

    $(document).ready(function () {
        pageInit();
        firstPieRequest();
        secondPieRequest();
        setInterval(firstPieRequest(),6000);
        setInterval(secondPieRequest(),6000);
    });

    $("#firstSubmit").click(function(){
        firstPieRequest();
    });
    $("#secondSubmit").click(function(){
        secondPieRequest();
    });

    function pageInit(){
        $('#startTime').val("2018-01-01");
        $('#endTime').val(getNowFormatDate());
    }

    function pieFirstShow(data) {
        var dom = document.getElementById("containerFirst");
        var myChart = echarts.init(dom);
        option = null;
        var seriesData = [
                            {name: '学位证书资产', value: data["degreeCertNum"]},
                            {name: '视频资产', value: data["videoNum"]},
                            { name: '音频资产', value: data["audioNum"]},
                            {name: '图片资产', value: data["photoNum"]}
                            ];
        var legendData = ['学位证书资产', '视频资产', '音频资产', '图片资产'];

        var data = {
            legendData: legendData,
            seriesData: seriesData
        };
        option = {
            title: {
                text: '资产类目概况',
                subtext: '数量单位：件',
                x: 'left'
            },
            tooltip: {
                trigger: 'item',
                textStyle: {
                    color: '#fff'
                },
                formatter: "{b} <br/>" + "资产数量 : {c}<br/>" + "百分比: {d}%" //{a}:系列名 {b}：数据项名 {c}:数据值 {d}：百分比

                /*  formatter:function (params) {
                      console.log(params);
                      var dataIndex = params["dataIndex"];
                      return (
                          params["seriesName"]
                          +'</br>提交资产数量:'+params["value"]
                          +'</br>已审核数量:'+auditSuccessAssertCount[dataIndex]
                          +'</br>未审核数量:'+auditRemainAssertCount[dataIndex]
                          +'</br>不通过数量:'+auditFailedAssertCount[dataIndex]
                          +'</br>已注销数量:'+auditCancellationAssertCount[dataIndex]
                      );
                  }*/
            },
            legend: {
                type: 'scroll',   //'plain'：普通图例，缺省就是普通图例。  'scroll'：可滚动翻页的图例。当图例数量较多时可以使用。
                orient: 'vertical',
                left: 'left',
                top:60,
               /* right: 10,
                top: 20,
                bottom: 20,*/
                data: data.legendData
                // selected: data.selected
            },
            toolbox: {
                itemSize:23, //设置图标大小
                right:20,   //设置图标的位置
                feature: {
                    saveAsImage: {
                        show: true,                         //是否显示该工具。
                        type: "png",                         //保存的图片格式。支持 'png' 和 'jpeg'。
                        name: "pic1",                        //保存的文件名称，默认使用 title.text 作为名称
                        backgroundColor: "#ffffff",        //保存的图片背景色，默认使用 backgroundColor，如果backgroundColor不存在的话会取白色
                        title: "保存为图片",
                        pixelRatio: 1                        //保存图片的分辨率比例，默认跟容器相同大小，如果需要保存更高分辨率的，可以设置为大于 1 的值，例如 2
                    }
                }
            },
            series: [
                {
                    name: '资产详情',  //用于tooltip中显示的{a}：系列名
                    type: 'pie',
                    radius: '55%', //表示半径的长短，也就是饼状图的大小
                    center: ['40%', '50%'],
                    data: data.seriesData,
                    itemStyle: {
                        //图形样式，normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                        emphasis: {
                            shadowBlur: 10,//图形阴影的模糊大小。
                            shadowOffsetX: 0, //阴影水平方向上的偏移距离
                            shadowColor: 'rgba(0, 0, 0, 0.5)' //阴影颜色
                        }
                    },
                    label: {
                        normal: {
                            formatter: ' {b|{b}：}{c}  {per|{d}%}  ',
                            backgroundColor: '#eee',
                            borderColor: '#aaa',
                            borderWidth: 1,
                            borderRadius: 4,
                            /*
                             shadowBlur:3,
                              shadowOffsetX: 2,
                              shadowOffsetY: 2,
                              shadowColor: '#999',
                              padding: [0, 7],
                              */
                            rich: {
                                b: {
                                    fontSize: 16,
                                    lineHeight: 33
                                },
                                per: {
                                    color: '#eee',
                                    backgroundColor: '#334455',
                                    padding: [2, 4],
                                    borderRadius: 2
                                }
                            }
                        }

                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }
    //第一幅图进行数据请求
    function firstPieRequest() {
        var queryParams = firstPieGetParams();
        console.log("第一幅图参数：" + JSON.stringify(queryParams));
        $.ajax({
            type: "get",
            url: "/statistics/general/assetType",
            data: queryParams,
            dataType: "json",
            success: function (result) {
                if (result.code == 200) {
                   /* var items = $('#containerFirst');
                    items.empty();*/
                    var data = result.data;
                    pieFirstShow(data);
                }
            }
        });
    }
    function firstPieGetParams() {
        var queryParams = {
            startTime: '2018-01-01',  //默认初始日期
            endTime: getNowFormatDate()
        };
        var startTime = $('#startTime').val();
        if (startTime) {
            queryParams.startTime = startTime;
        }
        var endTime = $('#endTime').val();
        if (endTime) {
            queryParams.endTime = endTime;
        }
        return queryParams;
    }


    //第二幅图进行数据请求
    function pieSecondShow(data) {
        var dom = document.getElementById("containerSecond");
        var myChart = echarts.init(dom);
        option = null;
        var seriesData = [
            {name: '已审核', value: data["reviewed"]},
            {name: '未审核', value: data["unreviewed"]},
            { name: '已注销', value: data["canceled"]},
            {name: '不通过', value: data["unpass"]}
        ];
        var legendData = ['已审核', '未审核', '已注销', '不通过'];

        var data = {
            legendData: legendData,
            seriesData: seriesData
        };
        option = {
            title: {
                text: '用户资产状态概况',
                subtext: '数量单位：件',
                x: 'left'
            },
            tooltip: {
                trigger: 'item',
                textStyle: {
                    color: '#fff'
                },
                formatter: "{b} <br/>" + "数量 : {c}<br/>" + "百分比: {d}%" //{a}:系列名 {b}：数据项名 {c}:数据值 {d}：百分比

                /*  formatter:function (params) {
                      console.log(params);
                      var dataIndex = params["dataIndex"];
                      return (
                          params["seriesName"]
                          +'</br>提交资产数量:'+params["value"]
                          +'</br>已审核数量:'+auditSuccessAssertCount[dataIndex]
                          +'</br>未审核数量:'+auditRemainAssertCount[dataIndex]
                          +'</br>不通过数量:'+auditFailedAssertCount[dataIndex]
                          +'</br>已注销数量:'+auditCancellationAssertCount[dataIndex]
                      );
                  }*/
            },
            legend: {
                type: 'scroll',   //'plain'：普通图例，缺省就是普通图例。  'scroll'：可滚动翻页的图例。当图例数量较多时可以使用。
                orient: 'vertical',
                left: 'left',
                top:60,
                /*right: 10,
                top: 20,
                bottom: 20,*/
                data: data.legendData
                // selected: data.selected
            },
            toolbox: {
                itemSize:23, //设置图标大小
                right:20,   //设置图标的位置
                feature: {
                    saveAsImage: {
                        show: true,                         //是否显示该工具。
                        type: "png",                         //保存的图片格式。支持 'png' 和 'jpeg'。
                        name: "pic1",                        //保存的文件名称，默认使用 title.text 作为名称
                        backgroundColor: "#ffffff",        //保存的图片背景色，默认使用 backgroundColor，如果backgroundColor不存在的话会取白色
                        title: "保存为图片",
                        pixelRatio: 1                        //保存图片的分辨率比例，默认跟容器相同大小，如果需要保存更高分辨率的，可以设置为大于 1 的值，例如 2
                    }
                }
            },
            series: [
                {
                    name: '资产审核详情',  //用于tooltip中显示的{a}：系列名
                    type: 'pie',
                    radius: '55%', //表示半径的长短，也就是饼状图的大小
                    center: ['40%', '50%'],
                    data: data.seriesData,
                    itemStyle: {
                        //图形样式，normal 是图形在默认状态下的样式；emphasis 是图形在高亮状态下的样式，比如在鼠标悬浮或者图例联动高亮时。
                        emphasis: {
                            shadowBlur: 10,//图形阴影的模糊大小。
                            shadowOffsetX: 0, //阴影水平方向上的偏移距离
                            shadowColor: 'rgba(0, 0, 0, 0.5)' //阴影颜色
                        }
                    },
                    label: {
                        normal: {
                            formatter: ' {b|{b}：}{c}  {per|{d}%}  ',
                            backgroundColor: '#eee',
                            borderColor: '#aaa',
                            borderWidth: 1,
                            borderRadius: 4,
                            /*
                             shadowBlur:3,
                              shadowOffsetX: 2,
                              shadowOffsetY: 2,
                              shadowColor: '#999',
                              padding: [0, 7],
                              */
                            rich: {
                                b: {
                                    fontSize: 16,
                                    lineHeight: 33
                                },
                                per: {
                                    color: '#eee',
                                    backgroundColor: '#334455',
                                    padding: [2, 4],
                                    borderRadius: 2
                                }
                            }
                        }

                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }

    function secondPieRequest() {
        var queryParams = secondPieGetParams();
        console.log("第二幅图参数：" + JSON.stringify(queryParams));
        $.ajax({
            type: "get",
            url: "/statistics/general/assetState",
            data: queryParams,
            dataType: "json",
            success: function (result) {
                if (result.code == 200) {
                    /*var items = $('#containerSecond');
                    items.empty();*/
                    var data = result.data;
                    pieSecondShow(data);
                }
            }
        });
    }

    //获取参数
    function secondPieGetParams() {
        var queryParams = {
            assetType: ''
        };
        var assetType = $('#assetType').val();
        if (assetType) {
            queryParams.assetType = assetType;
        }
        return queryParams;
    }

    <!--日期-->
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#startTime'
            , theme: 'molv'
            , calendar: true
            ,max: getNowFormatDate()
        });
        laydate.render({
            elem: '#endTime'
            , theme: 'molv'
            , calendar: true
            ,max: getNowFormatDate()
        });
    });

    //获取当前时间，格式YYYY-MM-DD
    function getNowFormatDate() {
        var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }

</script>

</body>

</html>
