<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>可信数字资产存证系统</title>

    <link rel="icon" type="image/x-icon" href="ico/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href=" @{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- DataTables CSS -->
    <link th:href="@{/jcstatic/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/jcstatic/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="/nav::navigation"></div>
    <!--列表页的展示-->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">数据恢复与备份</h3>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                   <!-- &lt;!&ndash;查找栏&ndash;&gt;
                    <div class="panel-heading">
                        <form class="form-inline">
                            <input type="text" id="title" class="form-control" placeholder="输入资产标题" style="width:150px;"/>
&lt;!&ndash;                            <input type="text" id="title" class="form-control" placeholder="输入资产标题"/>
                            <input type="text" id="txid" class="form-control" placeholder="输入交易单号"/>&ndash;&gt;
                            <select id="state" class="form-control">
                                <option value="">审核状态</option>
                                <option value="0">未审核</option>
                                <option value="1">已审核</option>
                                <option value="2">不通过</option>
                                <option value="3">注销</option>
                            </select>

                            <button class="btn btn-default" type="button" onclick="search()">
                                <i class="fa fa-search"></i>
                            </button>
                           &lt;!&ndash; <button class="btn btn-default" type="button" onclick="add()">
                                新增资产
                            </button>&ndash;&gt;
                        </form>
                    </div>
                    &lt;!&ndash; /.panel-heading &ndash;&gt;
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="tableList">
                            <thead>
                            <tr>
                                <th>资产Id</th>
                                <th>资产拥有者</th>
                                <th>标题</th>
                                <th>提交时间</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="items">

                            </tbody>
                        </table>

                        &lt;!&ndash;表格底部的分页栏&ndash;&gt;
                        <div class="col-sm-6">
                            <div class="dataTables_info">
                                共&lt;<em id="pageTotal"></em>&gt;条记录
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination" id="pageU"></ul>
                            </div>
                        </div>

                    </div>-->

                    <div class="panel-body">
                        <div class="table-responsive" style="overflow-x: hidden">
                            <div class="alert alert-danger">
                                <p>*该操作将从区块链的区块中读取已经成功背书的Proposal，解析数据并根据其对数据进行数据备恢复。</p>
                                <p>*区块链并不会保存所有的业务数据，只有关键资产信息会上链保存，所以该操作仅会对资产的关键信息进行恢复。</p>
                                <p>*恢复的资产信息会以(recovery_资产类型)的表名保存在数据库中,不会对原有的数据库进行覆盖</p>
                            </div>
                            <div class="alert alert-info">当前区块高度：
                                <strong><span th:text="${blockchainHigh}"></span></strong>
                            </div>

                            <div class="col-lg-12 alert alert-danger">
                                <div class="col-lg-2">
                                    <button class="btn btn-default" style="width: 100px;" type="button"
                                            onclick="bakShow()">
                                        数据恢复
                                    </button>
                                </div>
                                <div class="col-lg-10" style="display:none;" id="bakDiv">
                                    <form class="form-inline">
                                        <input type="text" id="blockStart" class="form-control" placeholder="输入区块起始高度"
                                               style="width:150px;"/>
                                        <input type="text" id="blockEnd" class="form-control" placeholder="输入区块终止高度"
                                               style="width:150px;"/>
                                        <button class="btn btn-default btn-info" id="btSubmit" type="button">
                                            确定
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-12 alert alert-warning">
                                <div class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="demo">
                                    <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                </div>
                            </div>
<!--                            <div>
                                <button id="submit" class="layui-btn">模拟loading</button>
                            </div>-->

                        </div>
                    </div>

                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- DataTables JavaScript -->
<script th:src="@{/jcstatic/vendor/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/jcstatic/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/jcstatic/vendor/datatables-responsive/dataTables.responsive.js}"></script>
<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入分页插件-->
<script th:src="@{/jcstatic/paginator/bootstrap-paginator.js}"></script>

<!--引入layui插件-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {

    });

    $("#btSubmit").click(function () {
        var $this = $(this);
        $this.prop("disabled", true);
        if (validateForm()) {
            showPass();

        } else {
            $this.prop("disabled", false);
        }
    });

    function sendRequest(password){
        var blockStart = $("#blockStart").val();
        var blockEnd = $("#blockEnd").val();
        var submitNode =$("#btSubmit");


        var data = {
            startBlock: blockStart,
            endBlock: blockEnd,
            password: password
        };

        $.ajax({
            type: "get",
            url: "/recovery/do",
            data: data,
            dataType: "json",
            success: function (result) {

                console.log(result);
                if (result.code == 200) {

                    //模拟滚动完
                    active.loading.call(this);

                    callbackMsg("数据恢复任务提交成功");
                } else {
                    callbackMsg(result.msg);
                }
            },
            complete: function (XMLHttpRequest, textStatus) {
                submitNode.prop("disabled", false);
            }
        });
    }



    function showPass() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.prompt({title: '请输入密码', formType: 1, offset: ['190px', '500px']}, function (pass, index) {
                sendRequest(pass);
                layer.close(index);
            });
        });
    }



    function validateForm() {
        var blockStart = $.trim($("#blockStart").val());
        var blockEnd = $.trim($("#blockEnd").val());
        if(!blockStart) return false;
        if(!blockEnd) return false;
        if (blockStart > blockEnd) {
            validateInfo();
            return false;
        }
        return true;
    }

    function validateInfo() {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.msg('区块高度区间不合法');
        });
    }

    $("#blockStart").keyup(function () {
        var val = $(this).val();
        if (!validateNum(val)) {
            tip("#blockStart");
        }
    });

    $("#blockEnd").keyup(function () {
        var val = $(this).val();
        if (!validateNum(val)) {
            tip("#blockEnd");
        }
    });

    function tip(e) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.tips('请输入整数', e, {
                tips: [1, '#3595CC'],
                time: 1000
            });
        });
    }

    function validateNum(e) {
        var numReg = /^[1-9]\d*$/;
        return numReg.test(e);
    }


    function callbackMsg(data) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                title: '结果信息',
                content: '<h4 style="text-align: center;">' + data + '</h4>',
                offset: '190px'
                /* , end: function () {
                     parent.close();
                 }*/
            });
        });
    }
    function bakShow() {
        $("#bakDiv").toggle();
    }

    var active={};
    layui.use('element', function () {
        var $ = layui.jquery, element = layui.element;
        //触发事件
         active = {
            loading: function () {
                var n = 0, timer = setInterval(function () {
                    n = n + 25;
                    if (n > 100) {
                        n = 100;
                        clearInterval(timer);
                        //callbackMsg("数据恢复成功");
                    }
                    element.progress('demo', n + '%');
                }, 300);
            }
        };

        /*$('#submit').on('click', function () {
            active.loading.call(this);
        });*/
    });


</script>

</body>

</html>
