<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow: auto;">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>可信数字资产存证系统</title>

    <link rel="icon" type="image/x-icon" href="/ico/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!--引入jquery-->
    <script th:src="@{/jcstatic/vendor/jquery/jquery.js}"></script>

    <style type="text/css">
        .layui-upload-img {
            width: 100px;
            height: 110px;
            margin-left: 5px;
        }

        .col-title {
            font-weight: 700;
        }
    </style>

</head>


<body>

<div id="wrapper">
    <div id="page-wrapper" style="margin: 10px;">
        <!--基本信息-->
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <strong>基本信息</strong>
                    </div>
                    <div class="panel-body">

                        <div class="control-group col-lg-12">
                            <th:block th:each="record,iterStat:${records}">
                                <th:block th:if="${iterStat.index le 0}">


                                   <!-- <div class="controls">
                                        <span class="col-title">账号ID：</span>
                                        <span th:text="${record.id}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">账号名：</span>
                                        <span th:text="${record.username}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">统一社会信用代码：</span>
                                        <span th:text="${record.creditId}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">公司名字：</span>
                                        <span th:text="${record.companyName}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">公司类型：</span>
                                        <span th:text="${record.companyType}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">公司地址：</span>
                                        <span th:text="${record.companyAddress}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">公司邮箱：</span>
                                        <span th:text="${record.companyEmail}"></span>
                                    </div>
                                   <div class="controls">
                                        <span class="col-title">公司固话：</span>
                                        <span th:text="${record.landlinePhone}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">公司联系人：</span>
                                        <span th:text="${record.contact}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">成立时间：</span>
                                        <span th:text="${record.establishmentTime}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">营业期限：</span>
                                        <span th:text="${record.startTime}+${record.endTime}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">经营范围：</span>
                                        <span th:text="${record.businessScope}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">登记机构：</span>
                                        <span th:text="${record.registrationAuthority}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">登记时间：</span>
                                        <span th:text="${record.registrationTime}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">状态：</span>
                                        &lt;!&ndash;<span th:text="${record.state}"></span>&ndash;&gt;
                                        <th:block th:switch="${record.state}">
                                            <span th:case="0">未激活</span>
                                            <span th:case="1">正常</span>
                                        </th:block>


                                    </div>
                                    <div class="controls">
                                        <span class="col-title">提交时间：</span>
                                        <span th:text="${record.submitTime}"></span>
                                    </div>-->

                                    <!--+++++++++++++++++-->
                                    <table width="100%" class="table table-striped table-bordered table-hover"
                                           id="tableList">
                                        <tbody id="items">
                                        <tr>
                                            <td>账号ID</td>
                                            <td th:text="${record.id}"></td>
                                        </tr>
                                        <tr>
                                            <td>账号名</td>
                                            <td th:text="${record.username}"></td>
                                        </tr>
                                        <tr>
                                            <td>统一社会信用代码</td>
                                            <td th:text="${record.creditId}"></td>
                                        </tr>
                                        <tr >
                                            <td>公司名</td>
                                            <td th:text="${record.companyName}"></td>
                                        </tr>

                                        <tr>
                                            <td>公司类型</td>
                                            <td th:text="${record.companyType}"></td>
                                        </tr>
                                        <tr>
                                            <td>公司地址</td>
                                            <td th:text="${record.companyAddress}"></td>
                                        </tr>
                                        <tr>
                                            <td>公司邮箱</td>
                                            <td th:text="${record.companyEmail}"></td>
                                        </tr>
                                        <tr>
                                            <td>公司固话</td>
                                            <td th:text="${record.landlinePhone}"></td>
                                        </tr>
                                        <tr>
                                            <td>公司联系人</td>
                                            <td th:text="${record.contact}"></td>
                                        </tr>
                                        <tr>
                                            <td>成立时间</td>
                                            <td th:text="${record.establishmentTime}"></td>
                                        </tr>
                                        <tr>
                                            <td>营业期限</td>
                                            <td th:text="${record.startTime}+${record.endTime}"></td>
                                        </tr>
                                        <tr>
                                            <td>经营范围</td>
                                            <td th:text="${record.businessScope}"></td>
                                        </tr>
                                        <tr>
                                            <td>登记机构</td>
                                            <td th:text="${record.registrationAuthority}"></td>
                                        </tr>
                                        <tr>
                                            <td>登记时间</td>
                                            <td th:text="${record.registrationTime}"></td>
                                        </tr>

                                        <tr>
                                            <td>状态</td>
                                            <th:block th:switch="${record.state}">
                                                <td th:case="0">未激活</td>
                                                <td th:case="1">正常</td>
                                                <td th:case="2">已冻结</td>
                                                <td th:case="3">已注销</td>
                                                <td th:case="4">不通过</td>
                                            </th:block>
                                        </tr>
                                        <tr>
                                            <td>提交时间</td>
                                            <td th:text="${record.submitTime}"></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--+++++++++++++++++-->
                                </th:block>
                            </th:block>
                        </div>
<!--                        <div class="control-group col-lg-6">
                            <th:block th:each="record,iterStat:${records}">
                                <th:block th:if="${iterStat.index le 0}">
                                    <div class="controls">
                                        <span class="col-title">类型：</span>
                                        <span th:text="${record.type}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">法人代表：</span>
                                        <span th:text="${record.legal_representative}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">登记机关：</span>
                                        <span th:text="${record.registration_authority}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">终止年限：</span>
                                        <span th:text="${record.end_time}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">提交时间：</span>
                                        <span th:text="${record.audit_time}"></span>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>-->
<!--                        <div class="control-group col-lg-12">
                            <th:block th:each="record,iterStat:${records}">
                                <th:block th:if="${iterStat.index le 0}">
                                    <div class="controls">
                                        <span class="col-title">经营范围：</span>
                                        <span th:text="${record.scopeof_business}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">地址：</span>
                                        <span th:text="${record.address}"></span>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>-->

                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <!--图片-->
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>附件</strong>
                    </div>
                    <div class="panel-body">
                        <div id="layer-photos-demo" class="layui-upload-list" style="margin:0px">
                            <th:block th:each="record:${records}">
                               <!-- <p th:text="${record.file_url}"></p>-->
                                <img th:if="${record.files}!=null and ${record.files}!=''"   th:src="${record.files}" class="layui-upload-img"/>
                                <p th:if="${record.files}==null and ${record.files}!=''"   th:text="无附件" class="layui-upload-img"></p>
                            </th:block>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3"></div>
        </div>

    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入layui:日期插件-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>

<script>
    layui.use('layer', function () {
        var layer = layui.layer;
        layer.photos({
            photos: '#layer-photos-demo'
            , anim: 5 //0-6的选择
        });
    });
</script>


</body>

</html>
