<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow: auto;">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>可信数字资产存证系统</title>

    <link rel="icon" type="image/x-icon" href="/ico/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!--引入jquery-->
    <script th:src="@{/jcstatic/vendor/jquery/jquery.js}"></script>

    <style type="text/css">
        .layui-upload-img {
            width: 100px;
            height: 110px;
            margin-left: 5px;
        }

        .col-title {
            font-weight: 700;
        }
    </style>

</head>


<body>

<div id="wrapper">
    <div id="page-wrapper" style="margin: 10px;">
        <!--基本信息-->
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <strong>基本信息</strong>
                    </div>
                    <div class="panel-body">

                        <div class="control-group col-lg-12">

                            <th:block th:each="record,iterStat:${records}">
                                <th:block th:if="${iterStat.index le 0}">

                                    <!--<div class="controls">
                                        <span class="col-title">账号ID：</span>
                                        <span th:text="${record.id}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">身份证号：</span>
                                        <span th:text="${record.idcard}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">姓名：</span>
                                        <span th:text="${record.name}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">手机：</span>
                                        <span th:text="${record.phone}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">邮箱：</span>
                                        <span th:text="${record.email}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">性别：</span>
                                        <span th:text="${record.sex}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">民族：</span>
                                        <span th:text="${record.nation}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">出生日期：</span>
                                        <span th:text="${record.date}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">地址：</span>
                                        <span th:text="${record.address}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">状态：</span>
                                        <span th:text="${record.state}"></span>
                                    </div>
                                    <div class="controls">
                                        <span class="col-title">提交时间：</span>
                                        <span th:text="${record.submitTime}"></span>
                                    </div>-->
                                    <!--+++=++++++++++++++++++++++++++-->
                                    <table width="100%" class="table table-striped table-bordered table-hover"
                                           id="tableList">
                                        <tbody id="items">
                                        <tr>
                                            <td>账号ID</td>
                                            <td th:text="${record.id}"></td>
                                        </tr>
                                        <tr>
                                            <td>身份证号</td>
                                            <td th:text="${record.idcard}"></td>
                                        </tr>
                                        <tr>
                                            <td>姓名</td>
                                            <td th:text="${record.name}"></td>
                                        </tr>
                                        <tr >
                                            <td>手机</td>
                                            <td th:text="${record.phone}"></td>
                                        </tr>

                                        <tr>
                                            <td>邮箱</td>
                                            <td th:text="${record.email}"></td>
                                        </tr>
                                        <tr>
                                            <td>性别</td>
                                            <td th:text="${record.sex}"></td>
                                        </tr>
                                        <tr>
                                            <td>民族</td>
                                            <td th:text="${record.nation}"></td>
                                        </tr>
                                        <tr>
                                            <td>出生日期</td>
                                            <td th:text="${record.date}"></td>
                                        </tr>
                                        <tr>
                                            <td>地址</td>
                                            <td th:text="${record.address}"></td>
                                        </tr>
                                        <tr>
                                            <td>审核状态</td>
                                            <th:block th:switch="${record.state}">
                                                <td th:case="0">未激活</td>
                                                <td th:case="1">正常</td>
                                                <td th:case="2">已冻结</td>
                                                <td th:case="3">已注销</td>
                                                <td th:case="4">不通过</td>
                                            </th:block>
                                        </tr>
                                        <tr>
                                            <td>提交时间</td>
                                            <td th:text="${record.submitTime}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <!--+++=++++++++++++++++++++++++++-->
                                </th:block>
                            </th:block>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <!--图片-->
        <div class="row">
            <div class="col-lg-3"></div>

            <div class="col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>附件</strong>
                    </div>
                    <div class="panel-body">
                        <div id="layer-photos-demo" class="layui-upload-list" style="margin:0px" >
                            <th:block th:each="record:${records}">
                                <!--<img th:src="${record.file_url}" class="layui-upload-img"/>-->
                                <img th:if="${record.files}!=null and ${record.files}!=''"   th:src="${record.files}" class="layui-upload-img"/>
                                <p th:if="${record.files}==null and ${record.files}!=''"   th:text="无图片" class="layui-upload-img"></p>
                            </th:block>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3"></div>
        </div>

    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入layui:日期插件-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>

<script>
    layui.use('layer', function () {
        var layer = layui.layer;
        layer.photos({
            photos: '#layer-photos-demo'
            , anim: 5 //0-6的选择
        });
    });
</script>

</body>

</html>
