<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>可信数字资产存证系统</title>

    <link rel="icon" type="image/x-icon" href="/ico/favicon.png">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>

    <!--引入地区选择插件的css-->
    <link href="@{/dist/css/main.css" rel="stylesheet}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!--引入jquery-->
    <script th:src="@{/jcstatic/vendor/jquery/jquery.js}"></script>

    <style type="text/css">

        #dataform .input-group .input-group-addon.aa {
            padding: 9px 20px;
            font-weight: 700;
        }

        #dataform .input-group .input-group-addon.aa.bb {
            padding: 9px 27px;
        }

        .layui-upload-img {
            width: 100px;
            height: 100px;
            margin: 0 10px 10px 0;
        }
    </style>

</head>


<body>

<div id="wrapper">

    <div id="page-wrapper" style="margin: 10px;">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <form role="form" id="dataform">
                        <!--图片的地址-->
                        <input type="hidden" name="files" id="files"/>
                        <!--图片的Hash-->
                        <input type="hidden" name="filesHash" id="filesHash"/>

                        <!--用户申请表详情-->
                        <div id="fcontent" class="panel-body">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>姓名</label>
                                        <input name="name" class="form-control"/>
                                    </div>

                                    <div class="form-group">
                                        <label>民族</label>
                                        <select id="nation" name="nation" class="form-control">

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>性别</label>
                                        <div class="form-group">
                                            <label class="radio-inline">
                                                <input type="radio" name="sex"
                                                       value="male" checked="true"/>男
                                            </label>

                                            <label class="radio-inline">
                                                <input type="radio" name="sex"
                                                       value="female"/>女
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>身份证号码</label>
                                        <input name="id" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <label>出生年月</label>
                                        <input type="text" name="date" class="form-control" id="birth"/>
                                    </div>

                                    <div class="form-group">
                                        <label>联系地址</label>
                                        <input name="address" type="text" class="form-control" id=''/>
                                    </div>

                                </div>

                                <!--上传图片-->
                                <div class="col-lg-12 ">
                                    <button type="button" class="layui-btn" id="test2">文件上传</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        <!--已上传：-->
                                        <div class="layui-upload-list" id="demo2"></div>
                                    </blockquote>
                                </div>

                            </div>

                            <!--确认按钮-->
                            <div class="col-lg-12 text-right">
                                <button type="button" id="btSubmit" class="btn btn-primary btn-info"
                                        style="width: 100px;">
                                    确&nbsp;&nbsp;定
                                </button>
                                <button type="button" id="btBack" class="btn btn-primary btn-info"
                                        style="width: 100px;">
                                    取&nbsp;&nbsp;消
                                </button>
                            </div>

                        </div>
                    </form>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入layui:日期插件-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>

<!--引入地区选择插件-->
<script th:src="@{/dist/js/distpicker.data.js}"></script>
<script th:src="@{/dist/js/distpicker.js}"></script>
<script th:src="@{/dist/js/main.js}"></script>


<script>
    $(document).ready(function () {
        var nations = ["汉族", "蒙古族", "回族", "藏族", "维吾尔族", "苗族", "彝族", "壮族", "布依族", "朝鲜族", "满族", "侗族", "瑶族", "白族", "土家族",
            "哈尼族", "哈萨克族", "傣族", "黎族", "傈僳族", "佤族", "畲族", "高山族", "拉祜族", "水族", "东乡族", "纳西族", "景颇族", "柯尔克孜族",
            "土族", "达斡尔族", "仫佬族", "羌族", "布朗族", "撒拉族", "毛南族", "仡佬族", "锡伯族", "阿昌族", "普米族", "塔吉克族", "怒族", "乌孜别克族",
            "俄罗斯族", "鄂温克族", "德昂族", "保安族", "裕固族", "京族", "塔塔尔族", "独龙族", "鄂伦春族", "赫哲族", "门巴族", "珞巴族", "基诺族"];
        var nation = $("#nation");
        for (var i = 0; i < nations.length; i++) {
            var a = nations[i];
            nation.append("<option value='" + a + "'>" + a + "</option>");
        }

        initform();
    });

    function initform() {
        $("#btSubmit").click(function () {
            var $this = $(this);
            $this.prop("disabled", true);
            if (validateForm()) {
                var queryString = $("#dataform").serialize();
                console.log("新增用户表单结果：" + queryString);
                $.ajax({
                    type: "post",
                    url: "/owner/user/add",
                    data: queryString,
                    dataType: "json",
                    success: function (result) {
                        console.log("新增用户后返回的code："+result.code);
                        if(result.code=200){
                            parent.add_Result("用户新增成功");
                            parent.close();
                            parent.search();
                        }else if(result.code=400){
                            parent.add_Result("用户新增失败");
                            parent.close();
                        }

                    },
                    complete: function (XMLHttpRequest, textStatus) {
                        $this.prop("disabled", false);
                    },

                });
            } else {
                $this.prop("disabled", false);
            }

        });
    }

    function validateForm() {
        var reg = /^\d{18}$/;

        data = $('input[name="name"]').val();
        if (data == "") {
            msg("请填写姓名");
            $('input[name="name"]').focus();
            return false;
        }

        data = $('input[name="id"]').val();
        if (data == "") {
            msg("请填写身份证号");
            $('input[name="id"]').focus();
            return false;
        } else {
            if (reg.test(data)) {
                var year = data.substring(6, 10);
                var month = data.substring(10, 12);
                var day = data.substring(12, 14);
                var value = year + "-" + month + "-" + day;
                var birth = $('input[name="date"]').val();
                if (birth) {
                    if (!(value == birth)) {
                        msg("身份证号与出生年月不匹配，请重新填写身份证号");
                        $('input[name="id"]').focus();
                        return false;
                    }
                }
            } else {
                msg("请填写合法的身份证号");
                $('input[name="id"]').focus();
                return false;
            }
        }
        data = $('input[name="address"]').val();
        if (data == "") {
            msg("请填写联系地址");
            $('input[name="address"]').focus();
            return false;
        }
        return true;
    }

    $('input[name="id"]').blur(function () {
        reg = /^\d{18}$/;
        data = $(this).val();
        if (reg.test(data)) {
            var year = data.substring(6, 10);
            var month = data.substring(10, 12);
            var day = data.substring(12, 14);
            var value = year + "-" + month + "-" + day;
            $('input[name="date"]').val(value);
        }
    });

    function msg(data) {
        layer.msg(data, {
            time: 1000, //1s后自动关闭
            icon: 5
        });
    }


    var content = $("#fcontent").html();
    $("#assetType").change(function () {
        var type = $(this).val();
        if (type == "student") {
            $("#fcontent").html(content);
        } else {
            $("#fcontent").html("");
        }

    });

    <!-- 文件上传-->
    var paths = "";        //上传的文件，中间用逗号隔开
    var filesHashs = "";   //上传的文件hashmap值，中间用逗号隔开
    layui.use('upload', function () {
        var upload = layui.upload;
        //多图片上传
        upload.render({
            elem: '#test2'
            , url: '/asset/file_upload'
            , multiple: true
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" />')
                });
            }
            , done: function (res) {
                if (res.code > 0) {

                    var pathValue=res.data.path;
                    paths = paths + pathValue + ",";
                    $("#files").val(paths);

                    var hashValue=res.data.path;
                    filesHashs = filesHashs + hashValue + ",";
                    $("#filesHash").val(filesHashs);

                }
                console.log(res);
            }
        });
    });


    <!--日期-->
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#birth' //指定元素
            , theme: 'molv'
            , calendar: true
        });

    });

    $("#btBack").click(function () {
        parent.close();

    })
</script>

</body>

</html>
