<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >  <!--style="overflow: hidden;"-->

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>数字资产存证平台</title>

    <link rel="icon" type="image/x-icon" th:href="@{/ico/favicon.png}"/>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/jcstatic/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/jcstatic/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/jcstatic/dist/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/jcstatic/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <!--引入layui的css-->
    <link th:href="@{/jcstatic/layui/css/layui.css}" rel="stylesheet" type="text/css"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->

    <!--引入jquery-->
    <script th:src="@{/jcstatic/vendor/jquery/jquery.js}"></script>

    <style type="text/css">
        .layui-upload-img {
            width: 100px;
            height: 110px;
            margin-left: 5px;
        }

        .col-title {
            font-weight: 700;
        }

        table tbody>tr td:last-child{
            text-align: center;
        }

    </style>

</head>


<body>

<div id="wrapper">
    <div id="page-wrapper" style="margin: 10px;">
        <!--基本信息对比-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 style="text-align: center" >数据信息对比结果</h3>
                    </div>
                    <div class="panel-heading">
                        <div class="controls">
                            <div class="controls">
                                <span class="col-title">资产类型：</span>
                                <th:block th:switch="${result.mysqlData.type_id}">
                                    <span th:case="1">学生证</span>
                                    <span th:case="*">无类型</span> <!--*表示默认类型-->
                                </th:block>
                            </div>
                            <span class="col-title">资产编号：</span>
                            <span th:text="${result.mysqlData.id}"></span>
                        </div>
                        <div class="controls">
                            <span class="col-title">交易哈希：</span>
                            <span th:text="${result.mysqlData.txid}"></span>
                        </div>

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>本地数据库</th>
                                    <th>区块链数据库</th>
                                    <th>对比结果</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>college</td>
                                    <td th:text="${result.mysqlData.college}"></td>
                                    <td th:text="${result.fabricStateData.college}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.college}==${result.fabricStateData.college}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.college}!=${result.fabricStateData.college}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>address</td>
                                    <td th:text="${result.mysqlData.address}"></td>
                                    <td th:text="${result.fabricStateData.address}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.address}==${result.fabricStateData.address}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.address}!=${result.fabricStateData.address}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>stuId(学号)</td>
                                    <td th:text="${result.mysqlData.stu_id}"></td>
                                    <td th:text="${result.fabricStateData.stuId}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.stu_id}==${result.fabricStateData.stuId}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.stu_id}!=${result.fabricStateData.stuId}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>idCardNo（身份证号）</td>
                                    <td th:text="${result.mysqlData.idcardNo}"></td>
                                    <td th:text="${result.fabricStateData.idCardNo}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.idcardNo}==${result.fabricStateData.idCardNo}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.idcardNo}!=${result.fabricStateData.idCardNo}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>schoolTime</td>
                                   <!-- <td th:text="${result.mysqlData.schoolTime}"></td>-->
                                    <td th:text="${result.fabricStateData.schoolTime}"></td>
                                    <td th:text="${result.fabricStateData.schoolTime}"></td>
                                    <td>
                                        <i th:if="${result.fabricStateData.schoolTime}==${result.fabricStateData.schoolTime}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.fabricStateData.schoolTime}!=${result.fabricStateData.schoolTime}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>sex</td>
                                    <td th:text="${result.mysqlData.sex}"></td>
                                    <td th:text="${result.fabricStateData.sex}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.sex}==${result.fabricStateData.sex}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.sex}!=${result.fabricStateData.sex}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>fileHash</td>
                                    <td th:text="${result.mysqlData.file_hash}"></td>
                                    <td th:text="${result.fabricStateData.fileHash}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.file_hash}==${result.mysqlData.file_hash}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.file_hash}!=${result.mysqlData.file_hash}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>dateOfBirth</td>
                                   <!-- <td th:text="${result.mysqlData.dateOfBirth}"></td>
                                    <td th:text="${result.fabricStateData.dataOfBirth}"></td>-->
                                    <td th:text="${result.fabricStateData.dateOfBirth}"></td>
                                    <td th:text="${result.fabricStateData.dateOfBirth}"></td>
                                    <td>
                                        <i th:if="${result.fabricStateData.dateOfBirth}==${result.fabricStateData.dateOfBirth}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.fabricStateData.dateOfBirth}!=${result.fabricStateData.dateOfBirth}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>owners</td>
                                    <!--<td th:text="${result.mysqlData.des}"></td>
                                    <td th:text="${result.fabricStateData.owners}"></td>-->
                                    <td th:text="${result.fabricStateData.owners}"></td>
                                    <td th:text="${result.fabricStateData.owners}"></td>
                                    <td>
                                        <i th:if="${result.fabricStateData.owners}==${result.fabricStateData.owners}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.fabricStateData.owners}!=${result.fabricStateData.owners}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>lengthOfSchooling</td>
                                    <td th:text="${result.mysqlData.lengthOfSchooling}"></td>
                                    <td th:text="${result.fabricStateData.lengthOfSchooling}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.lengthOfSchooling}==${result.fabricStateData.lengthOfSchooling}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.lengthOfSchooling}!=${result.fabricStateData.lengthOfSchooling}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>timeOfIssume</td>
                                    <td th:text="${result.mysqlData.timeOfIssume}"></td>
                                    <td th:text="${result.fabricStateData.timeOfIssume}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.timeOfIssume}==${result.fabricStateData.timeOfIssume}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.timeOfIssume}!=${result.fabricStateData.timeOfIssume}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>

                                <!--学生证描述不进行对比
                                <tr>
                                    <td>des</td>
                                    <td>${result.mysqlData.des}</td>
                                    <td>${result.fabricStateData.des}</td>
                                    <td></td>
                                </tr>-->

                                <tr>
                                    <td>school</td>
                                    <td th:text="${result.mysqlData.school}"></td>
                                    <td th:text="${result.fabricStateData.school}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.school}==${result.fabricStateData.school}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.school}!=${result.fabricStateData.school}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>name</td>
                                    <td th:text="${result.mysqlData.name}"></td>
                                    <td th:text="${result.fabricStateData.name}"></td>
                                    <td>
                                        <i th:if="${result.mysqlData.name}==${result.fabricStateData.name}" class="glyphicon glyphicon-ok"></i>
                                        <i th:if="${result.mysqlData.name}!=${result.fabricStateData.name}" class="glyphicon glyphicon-remove"></i>
                                    </td>
                                </tr>


                               <!-- <tr> type_id不做判断
                                    <td>typeId</td>
                                    <td>${result.mysqlData.typeId}</td>
                                    <td>${result.fabricStateData.typeId}</td>
                                    <td></td>
                                </tr>
                                 -->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--图片-->
        <div class="row">
            <!--<div class="col-lg-3"></div>-->

            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>本地数据库附件</strong>
                    </div>
                    <div class="panel-body">
                        <div id="layer-photos-demo" class="layui-upload-list" style="margin:0px">
                             <th:block th:each="file:${result.mysqlData.file_url}">
                                 <img th:src="${file}" class="layui-upload-img"/>
                             </th:block>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <strong>区块链附件</strong>
                    </div>
                    <div class="panel-body">
                        <div id="layer-photos-demo2" class="layui-upload-list" style="margin:0px">
                            <th:block th:each="file:${result.mysqlData.file_url}">
                                <img th:src="${file}" class="layui-upload-img"/>
                            </th:block>
                        </div>
                    </div>

                </div>
            </div>

            <!--<div class="col-lg-3"></div>-->
        </div>

    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/jcstatic/vendor/jquery/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/jcstatic/vendor/bootstrap/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/jcstatic/vendor/metisMenu/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/jcstatic/dist/js/sb-admin-2.js}"></script>

<!--引入layui:日期插件-->
<script th:src="@{/jcstatic/layui/layui.js}"></script>

<script>
    layui.use('layer', function () {
        var layer = layui.layer;
        layer.photos({
            photos: '#layer-photos-demo'
            , anim: 5 //0-6的选择
        });
    });
    layui.use('layer', function () {
        var layer = layui.layer;
        layer.photos({
            photos: '#layer-photos-demo2'
            , anim: 5 //0-6的选择
        });
    });
</script>

</body>

</html>
